@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
#root {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

/*-------------NAVBAR-----------------*/
#navbar {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  z-index: 1;
  
}

.logoLink {
height: 100%;
aspect-ratio: 1/1;
}

.navbarLink {
  margin: 0em;
  
}


.navbarLink a {
  color: black;
  text-decoration: none;
  font-size: 2em;
  font-weight: 500;
  padding: 0.5em 1em;
}

.logo {
  width: 65%;
}
  


/*-------------WELCOME PAGE-----------------*/

#welcome {
  background: rgb(241, 0, 0);
  background: linear-gradient(
    315deg,
    rgba(241, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 56%
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100vh;


  
 
}

#welcomeLogo {
  aspect-ratio: 2/1;
  width: 60%;
}

#welcome h1 {
  justify-self: left;
  color: white;
  margin: 0 10%;
  padding: 0;
  font-size: 2em;
  
}

#linkedinLink {
  color: white;
 
 
  margin-left: 10%;
  width: 3%;
  aspect-ratio: 1/1;

}

/*-------------ABOUT PAGE-----------------*/

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1d;
  color: white;
 
}

#faceCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 
}

/* Default styles */
.card {
  padding: 0;
  margin: 2%;
  /* Decreased margin value */
  background-color: aqua;
  width: 100%;
  aspect-ratio: 3/4;
  border: white 2px solid;
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.cardText {
  background-color: #1d1d1d;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  align-self: flex-end;
  position: absolute;
  
  border-bottom-left-radius: 9px;
  /* Added border radius for bottom left corner */
  border-bottom-right-radius: 9px;
  border-right: black 1px solid;
  /* Added border radius for bottom right corner */
}

.cardText h2 {
  margin: 5%;
  margin-top: 10%;
  justify-content: center;
  font-size: 1.5em;
  text-align: center;
  
}

#info_form2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 1vh 0;
}

#info_form2 #icon {
  height: 5vh;
  margin-left: 5%;
 
  
  
}

#info_form2 h5 {
  color: white;
 margin-left: 1%;
  text-align: left;
  width: fit-content;
 
}


#person_info_form_div
{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* padding: 2%; */
    text-align: center;
    color: white;
}

#peson_name{

  margin: 5%;
 
  align-items: center;
  text-align: center;
  
}


/*-------------PROJECTS PAGE-----------------*/

#projects {
  background-color: #1d1d1d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Responsive styles */

#projectText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 50%;
  padding: 5%;
  text-align: left;
  color: white;
}

#projectVid {
  display: flex;
  width: 50%;
  padding: 5%;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#projectVid iframe {
  width: 100%;
  aspect-ratio: 4/3;
}

/*-------------VISION PAGE-----------------*/

#vision {
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 5%;
  text-align: left;
  color: white;
}

#visionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 5%;
  color: white;
}

/*-------------RESPONSIVE PARTs-----------------*/

@media screen and (max-width: 1000px) {
  /*-------------NAVBAR-----------------*/

  #navbar {
    height: 10%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
    z-index: 1;
  }

  .logoLink {
   height: 100%;
   aspect-ratio: 1/1;
    
  } 

  #welcome, #about, #projects, #vision {
   width: 100vw;

  }

  #welcome h1{
    font-size: 3em;
  }

  .navbarLink {
    margin: 0em;
  }

  .navbarLink a {
    color: black;
    text-decoration: none;
    font-size: 0.5em;
    font-weight: 500;
    padding: 0.5em 1em;
  }

  .logo {
    width: 65%;
  }

#linkedinLink {
  color: white;
  width: 20%;
}

  #about {
    height: fit-content;
    
  }

  #faceCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
  }

  .card {
    width: 70%;
  }

  #projects {
    height: fit-content;
    flex-direction: column;
  }

  #projectText {
    width: 90%;
    align-items: center;
    text-align: center;
  }

  #projectVid {
    width: 90%;
  }
}



  /*-------------NAVBAR-----------------*/


