@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

#BTN_Div {
  width: 100%;
  display: flex;
  padding-bottom: 3vh;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 3vh;
}

#MenuBTN:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.5s ease;
}



#Icon {
  height: 6vh;
}
