#NavBTN {
  height: 100%;

  font-size: 3vh;
  color: white;

  transition: all ease-in-out 0.2s;
}

#NavBTN:hover {
  transform: scale(1.2);
}

#NavBTN:active {
  transform: scale(1.05);
}

@media only screen and (max-width: 1024px) {
  #NavBTN {
    height: 0;
    width: 0;
    visibility: hidden;
    padding: 0;
    margin: 0;
  }
}
