/* Footer styles */
.footer {

    background-color: #2a2a2a;
    text-align: center;
    color: #ffff;
}

.container {
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer p {
    margin: 0;
    font-size: 1rem;
}

.footer a {
    color: #ffff;
    text-decoration: none;
    font-size: 1.3rem;
}

.footer a:hover {
    text-decoration: underline;
    color:#911517;
}

#footerLogo {
    width: 30vw;
}

#footerLinks {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30vw;
}

/* Media query for phone */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: flex-start;

    }
    .footer {
        width: 100%;
    }
    #footerLogo {
        width: 100%;
    }

    #footerLinks {
        width: 100%;
        flex-direction: row;
        margin-bottom: 2vh;
    }
}

