#root{
  margin: 0 auto;

}


#navbar {
  height: 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em;
}


.logoLink {
width: 250px;
}
.navbarLink
{
margin: 1em;
}
.navbarLink a {
  
  color: black;
  text-decoration: none;
  font-size: 2em;
  font-weight: 500;
  padding: 0.5em 1em;
}


#welcome{
  background: rgb(241,0,0);
background: linear-gradient(315deg, rgba(241,0,0,1) 0%, rgba(0,0,0,1) 56%);

display: flex;
flex-direction: column;
justify-content: center;
align-items: left;




}

#welcomeLogo{
  aspect-ratio: 2/1;
  width: 60%;
}

#welcome h1{
  justify-self: left;
  color: white;
  margin-left: 10%;
  padding: 0;

}


.logo {
  width: 100%;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
